span.select2-selection {
    border: 1px solid grey;
}

.select2-results__option[aria-selected="true"] {
    cursor: pointer;
    color: grey;
}

/*li.select2-selection__choice {*/
    /*border: 1px solid;*/
    /*border-radius: 3px;*/
    /*padding: 3px;*/
/*}*/

.alert.ui-pnotify-container.alert-warning.ui-pnotify-shadow {
    display: none !important;
}
