<template>
    <div>
        Upload Files
    </div>
</template>

<script>
    import {CldContext, CldImage, CldVideo, CldTransformation} from 'cloudinary-vue';
    import Cloudinary from 'cloudinary-vue';

    export default {
        mounted() {
            console.log('Component mounted.')

            Vue.use(Cloudinary, {
                configuration: {
                    cloudName: "demo"
                }
            });
        }
    }
</script>
