<template>
    <div class="">

        <!--acceptedExamInstructions- {{acceptedExamInstructions}}-->
        <div v-if='!acceptedExamInstructions' class="row">

            <div class="col-md-9">

                <div class="an-single-component with-shadow">
                    <div class="an-component-header" style="background: #BCE8F5;">
                        <h6>Instructions</h6>
                    </div>

                    <div class="an-component-body">
                        <div class="an-helper-block">
                            <!--<h4></h4>-->

                            <div v-html="instructions">

                            </div>

                            <div>

                                <div class="pull-right">
                                    <button class="an-btn an-btn-success" v-on:click="checkIfExamInstructionsAccepted()">Next</button>
                                </div>

                            </div>

                        </div>
                    </div> <!-- end .AN-COMPONENT-BODY -->
                </div>

            </div>


            <div class="col-md-3" style="background: #FFFFFF; border-left:1px solid #000; position:fixed; top:59px;right:0; height:1200px">

                <div class="col-md-offset-3">

                    <img :src="(usr && usr.profile_pic_url) || '/assets/img/NewCandidateImage.jpg'" style="max-width: 128px" />

                    <div class="col-md-12 m20top">
                        {{usr && usr.name}}
                    </div>

                </div>

            </div>



        </div>

        <div class="row" v-if="finalResult">
            <div class="col-md-12">
                <a href="/">< Return to Dashboard</a>
            </div>
            <div class="col-md-8 col-md-offset-2" v-html="finalResult"></div>
        </div>

        <div class="row" id="solutions" v-if="finalResult">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-primary text-center m-t-30">Solutions</h1>
                <div id="solution">
                    <div  v-for="question in allQuestionsInThisExam">
                        <question-component :question="question" :answer="getAnswer(question.question_id)" :reveal="true"></question-component>
                    </div>
                </div>
            </div>
        </div>


        <div v-if='acceptedExamInstructions && !acceptedImportantInstructions' class="row">

            <div class="col-md-9">

                <div class="an-single-component with-shadow">
                    <div class="an-component-header" style="background: #BCE8F5;">
                        <h6>Instructions</h6>
                    </div>

                    <div class="an-component-body">
                        <div class="an-helper-block">

                            <div>
                                This is a Mock test. Question Paper displayed is for practice purpose only. Under no circumstances should this be presumed as a sample paper.
                            </div>


                            <div>

                                <table class="table" style="margin-top: 20px; border: 1px solid #d3d3d3">

                                    <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Questions</th>
                                        <th>Marks</th>
                                        <th>Duration</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr v-for="section in getSectionsWithQuestions">
                                        <td>
                                            {{ section.section_name }}
                                        </td>

                                        <td>{{ questionsInThisSection(section).length }}</td>

                                        <!--<td>{{ exam.marks_per_question * +questionsInThisSection(section).length }}</td>-->
                                        <td>{{ totalMarksOfASection(section.section_id) }}</td>

                                        <td>
                                            <span v-if="section.time">
                                                {{  section.time }} Minutes
                                            </span>
                                            <span v-else>
                                                _
                                            </span>
                                        </td>
                                    </tr>


                                    <tr>

                                        <td>Total</td>

                                        <td> {{ totalQuestionsOfExam }}
                                        </td>

                                        <td>
                                            {{ totalMarksOfQuestionPaper() }}
                                        </td>

                                        <td>
                                            {{  totalDurationOfExam> 60 ? Math.floor(totalDurationOfExam/60)+' Hour '+(totalDurationOfExam%60) +' Minutes' :  totalDurationOfExam+' Minutes' }}
                                        </td>

                                    </tr>

                                    </tbody>

                                </table>

                            </div>



                            <div>
                            <span class="an-custom-checkbox blocked">
                              <input type="checkbox" id="acceptImportantInstructions" v-model="acceptImportantInstructions" >
                              <label for="acceptImportantInstructions">I have read and understood the instructions. All computer hardware allotted to me are in proper working condition. I declare  that I am not in possession of / not wearing / not  carrying any prohibited gadget like mobile phone, bluetooth  devices  etc. /any prohibited material with me into the Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred from this Test and/or to disciplinary action, which may include ban from future Tests / Examinations</label>
                            </span>


                                <div class="col-sm-6">
                                    <button class="an-btn an-btn-primary" v-on:click="goBackToExamInstructions()">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </button>
                                </div>


                                <div class="col-sm-6">
                                    <button class="an-btn an-btn-success" v-on:click="checkIfImportantInstructionsAccepted()">I am ready to Begin</button>
                                </div>

                            </div>

                        </div>
                    </div> <!-- end .AN-COMPONENT-BODY -->
                </div>



            </div>


            <div class="col-md-3" style="background: #FFFFFF; border-left:1px solid #000; position:fixed; top:59px;right:0; height:1200px">

                <div class="col-md-offset-3">

                    <img :src="(usr && usr.profile_pic_url) || '/assets/img/NewCandidateImage.jpg'" style="max-width: 128px" />

                    <div class="col-md-12 m20top">
                        {{usr && usr.name}}
                    </div>

                </div>

            </div>


        </div>

        <!--<div v-if='acceptedExamInstructions'>-->
        <div v-if='acceptedExamInstructions && acceptedImportantInstructions' v-show="! ifExamIsCompleted">
            <div class="an-inbox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content" >

                            <div role="tabpanel" class="tab-pane fade active in" id="sent">

                                <div class="an-single-component with-shadow">

                                    <div class="an-component-header">

                                        <div class="col-md-12">

                                            <div class="col-sm-3" v-for="(section, index) in getSectionsWithQuestions" :style="{backgroundColor: section.active ? colors() : '#f3f3f3' }" >
                                                {{ section.section_instructions }}
                                                <h6 v-if="!exam.duration">{{section.section_name}}</h6>

                                                <a href="#" @click.prevent="updateSection(index)" v-if="exam.duration" >
                                                    <h6>{{section.section_name}}</h6>
                                                </a>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="an-component-body an-inbox-body">

                                        <div class="row">
                                            <div class="col-md-9">
                                                <question-component :question="question" :answer="answer" ></question-component>
                                            </div>

                                            <div class="col-md-3">
                                                <!--<div class="an-info-content notifications-info ps-container ps-theme-default"-->
                                                <!--data-ps-id="cc605463-842a-4a3f-e973-14c5fb02313f"-->
                                                <!--style="width: 300px;">-->
                                                <!--<div class="an-info-single unread favorite open"><a href="#"><span-->
                                                <!--class="user-img"-->
                                                <!--style="background-image: url('/assets/img/users/user1.jpeg');"></span>-->
                                                <!--<div class="info-content"><h5 class="user-name">-->
                                                <!--&lt;!&ndash;{{Auth::user()->name }}&ndash;&gt;-->
                                                <!--</h5>-->
                                                <!--<p class="content">Profile</p><span class="info-time"><i-->
                                                <!--class="icon-clock"></i>&lt;!&ndash; react-text: 420 &ndash;&gt;15:28-->
                                                <!--&lt;!&ndash; /react-text &ndash;&gt;</span></div>-->
                                                <!--</a></div>-->

                                                <!--</div> -->
                                                <div class="row">
                                                    <span class="" style="font-size: 17px;">
                                                            <i class="icon-clock"></i>
                                                            <span id="countdown">
                                                                {{timer }}
                                                                {{ clock }}
                                                            </span>
                                                    </span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="an-info-single unread"><a href="#"><span
                                                                class="icon-container"
                                                                :style="responseBlockClass('answered')">
                                                            {{ getCountOfAnswerTypes(['answered']) }}
                                                        </span>
                                                            <div class="info-content"><h5 class="user-name">
                                                                Answered
                                                            </h5></div>
                                                        </a></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="an-info-single unread"><a href="#"><span
                                                                class="icon-container"
                                                                :style="responseBlockClass('unAnswered')">
                                                            {{ getCountOfAnswerTypes(['unAnswered']) }}
                                                        </span>
                                                            <div class="info-content"><h5 class="user-name">
                                                                Not Answered
                                                            </h5></div>
                                                        </a></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="an-info-single unread"><a href="#"><span
                                                                class="icon-container"
                                                                :style="responseBlockClass()">
                                                                 {{  questions.length - getCountOfAnswerTypes(['answered', 'unAnswered', 'markefForReview', 'answeredMarkedForReview' ]) }}
                                                        </span>
                                                            <div class="info-content"><h5 class="user-name">
                                                                Not Visited
                                                            </h5></div>
                                                        </a></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="an-info-single unread"><a href="#"><span
                                                                class="icon-container"
                                                                :style="responseBlockClass('markedForReview')">
                                                             {{ getCountOfAnswerTypes(['markedForReview']) }}
                                                        </span>
                                                            <div class="info-content"><h5 class="user-name">
                                                                Marked for Review
                                                            </h5></div>
                                                        </a></div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="an-info-single unread"><a href="#"><span
                                                                class="icon-container"
                                                                :style="responseBlockClass('answeredMarkedForReview')">
                                                             {{ getCountOfAnswerTypes(['answeredMarkedForReview']) }}
                                                        </span>
                                                            <div class="info-content"><h5 class="user-name">
                                                                Answered &amp; Marked for Review</h5></div>
                                                        </a></div>
                                                    </div>
                                                </div>

                                                <!-- Questions Block -->
                                                <div class="an-single-component with-shadow"
                                                     style="border-left: 1px solid rgb(218, 218, 218);">
                                                    <div class="">
                                                        <div class="an-small-doc-blcok"><h4>All Questions in this Section</h4></div>
                                                    </div>
                                                    <div class="an-component-body">
                                                        <div class="an-helper-block"><h6>Choose a question</h6>
                                                            <div class="row" style="height: 50px;">

                                                                <div v-for="(question, index ) in questions" class="col-sm-2 m-t-22">
                                                                    <div class="an-info-single unread">
                                                                        <a href="#" @click="setQuestionIndex(question.number-1)">
                                                                            <span class="icon-container" :style="responseBlockClass(question.number-1)">
                                                                            {{ question.number }}
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div><!-- react-text: 481 --> <!-- /react-text -->
                                                </div>


                                                <!--{{answers}}-->
                                                <!--{{getSectionsWithQuestions}}-->

                                                <div class="col-sm-12 m-t-30">
                                                    <div class="an-helper-block">
                                                        <button class="an-btn an-btn-success pull-right" @click="finishAndSubmitExam()" :disabled="exam.allow_submit!==1">Finish</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12" style="position:fixed;bottom:0;z-index:999; background: #fff; border-top:1px solid #000">

                        <div class="col-sm-8 col-xs-12">

                            <div class="an-helper-block">

                                <button class="an-btn an-btn-primary" v-on:click="dispatchAnswerWithType( answer.optionIndex? 'answeredMarkedForReview': 'markedForReview' );">
                                    Mark for Review & Next
                                </button>

                                <button class="an-btn an-btn-danger" @click="clearResponse()">Clear Response</button>

                                <button class="an-btn an-btn-transparent pull-left" @click="setQuestionIndex( questionIndex >0? questionIndex-1 : 0, true )">  <i class="fa fa-chevron-left"></i> Previous
                                </button>

                                <button class="an-btn an-btn-success pull-right" @click="updateAnswer( answer.optionIndex? 'answered' : 'unAnswered' )">Save & Next </button>

                                <!-- Logout Form -->
                                <div class="hidden">

                                    <form id="logoutForm" action="/logout" method="POST">
                                        <input type="hidden" name="_token" id="csrf_field" value="" />
                                    </form>

                                </div>


                            </div>

                        </div>


                    </div>


                </div>


            </div>


        </div>


    </div>

</template>


<style src="./ExamWindow.css"></style>

<script src="./ExamWindow.js"></script>
