

.m-t-10{
    margin-top: 10px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.m-t-30{
    margin-top: 30px !important;
}
.m-t-22{
    margin-top: 22px !important;
}

.cleared input[type="radio"]:checked + label:before{
    content: '';
    color: #fff
}
.an-custom-checkbox label:before{
    color: #000;
}
.sweet-alert{
    width: 620px
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    color: #000;
}

.strong{
    font-weight: 700;
}
.an-helper-block{
    padding: 0 15px;
}
