<template>
    <div class="an-inbox-message-details">

        <div class="title">

            <h5><strong>Question No. {{question.number }} </strong></h5>
        </div>

        <div class="message-body m">

            <div v-if="question.instructions">
                <h4>Instructions</h4>
                <span v-html="question.instructions"></span>

                <span v-if="question.instructions_image">
                                                                <img :src="'http://ucarecdn.com/'+question.instructions_image+'/nth/0/'" style="max-width: 350px" />
                                                            </span>
            </div>

            <span>
                                                            <span v-html="question.text"></span>
                                                        </span>

            <span v-if="question.image">
                                                            <img :src="'http://ucarecdn.com/'+question.image+'/'" height="auto" width="50%" />
                                                        </span>

            <div>

                <!--Begin Options -->
                <div class=" blocked" v-for="(option,index) in question.options">

                    <input v-if="!reveal" v-model="answer.optionIndex" type="radio" :name='question.question_id+"_option_"+index' :id='question.question_id+"_option_"+index' :value="String(index)" :checked=" answer.question_id == question.id && answer.optionIndex == index " />

                    <label v-if="option.text" :for='question.question_id+"_option_"+index'>

                        <span v-if="reveal">
                           <span v-if="index ==0">A. </span>
                           <span v-if="index ==1">B. </span>
                           <span v-if="index ==2">C. </span>
                           <span v-if="index ==3">D. </span>
                           <span v-if="index ==4">E. </span>
                       </span>

                        <span v-if="!reveal">
                             {{option.text}}
                        </span>


                        <span :class="{ 'text-green': correctAnswer(index), 'text-red': correctAnswer(index) ==false }" v-if="reveal">
                            {{option.text}}
                       </span>


                        <span v-if="option.image" class="row">
                            <img v-bind:src="'http://ucarecdn.com/'+option.image+'/'" />
                        </span>

                    </label>

                    <label v-if="!option.text && option.image" :for='"option"+index'>
                        <img v-bind:src="'http://ucarecdn.com/'+option.image+'/'" />
                    </label>

                </div>
                <!--End Options -->

                <u class="blocked" v-if="reveal">
                    Answer:
                    <span v-if="indexOfAnswer ==0">A </span>
                    <span v-if="indexOfAnswer ==1">B </span>
                    <span v-if="indexOfAnswer ==2">C </span>
                    <span v-if="indexOfAnswer ==3">D </span>
                    <span v-if="indexOfAnswer ==4">E </span>
                </u>

            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {

        props: ['question','answer','reveal'],

        mounted() {
            // this.answer.optionIndex= true
        },
        computed: {

            indexOfAnswer(){

                return _.findIndex(this.question.options, opt => opt.answer)
            },
        },
        methods: {

            correctAnswer(index){


                const selectedAnswerIndex = _.get(_.find(this.$store.getters.getAnswers, ans => ans.question_id == this.question.question_id), 'optionIndex'),
                    originalAnswerIndex = _.findIndex(this.question.options, o => o.answer)

                // console.log(this.question, index!==selectedAnswerIndex )

                if(index!=selectedAnswerIndex)
                    return;

                if(selectedAnswerIndex == originalAnswerIndex)
                    return true;
                if(!selectedAnswerIndex)
                    return null;
                if(selectedAnswerIndex !== originalAnswerIndex)
                    return false;
            }

        }
    }
</script>

<style>
    .an-inbox-message-details {
        margin-bottom: 30px;
    }
    .text-red{
        color: red;
    }
    .text-green{
        color: green;
    }
</style>
